@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf');
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;

    background: #fafaf9;
}

*, 
*::after,
*::before {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 4rem 2rem 1rem;
    margin: 0;
    text-align: center;
}
.header h1 {
    margin: 0 0 16px;
    padding: 0;
    font-weight: bold;
    font-size: clamp(2.5rem, 1.0774rem + 3.7936vw, 5.635rem);
    line-height: 1.25em;
}
.insta {
    width: 40px;
    height: 40px;
    margin-top: 1.4rem;
    display: grid;
    place-items: center;
    border-radius: 18px;
    background-color: #fafaf9;
}
.insta:hover {
    background-color: #7369de;
}
.icon-insta {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(./instagram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header h2 {
    padding: 0;
    margin: 0;

    font-size: 1rem;
    line-height: 1.2rem;
}
.arrow {
    width: 100%;
    height: 6rem;
    display: grid;
    place-content: center;
    align-content: flex-end;
}
.icon-arrow {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(./arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	animation: bounce 1.5s ease 3;
	animation-delay: 200ms;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.main {
    width: 100%;
    padding: 4rem 2.6rem 1rem;
    display: grid;
    place-content: center;
    background: #81997860;
}

.toaster-catalog {
    min-width: 400px;
    max-width: 500px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    list-style: none;
}
.toaster {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 2px solid #000;
    border-radius: 0;
    background: #fafaf9;
}
.toaster header {
    width: 100%;
    padding: 0.6rem 0.2rem;
    border-bottom: 2px solid #000;
}
.toaster header h3 {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.toaster main {
    width: 100%;
    max-height: 10rem;
    padding: 16px 10px;
    height: auto;
    display: grid;
    place-items: center;
    background: #5a7d78ad;

}
.toaster main .toaster-logo {
    display: block;
    width: 100%;
    max-height: calc(10rem - (16px + 16px));
    object-fit: contain;
}
.toaster .info {
    width: 100%;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
}
.toaster .info a {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 6px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    text-decoration: none;
    text-align: center;
    color: #000;
    background: transparent;
    transition: 3ms ease color;
    border: 2px solid #000;
    border-radius: 6px;
}
.toaster .info a:hover {
    background: #81997860;
}